<h1> CS345 Assignment DATABASE :- (CASSANDRA) by yugansh</h1>

<p> Query Interface :- <br> <br>

  Query1 
  <form action="/query1" method="POST">
  
  <input type="text" name="query1" placeholder="author_name">
  <input type="submit" value="submit">

  </form>

  
  Query2  
    
    <form action="/query2" method="POST">
    
    <input type="text" name="query2" placeholder="keyword">
    <input type="submit" value="submit">

    </form>
  
  Query3  
    
    <form action="/query3" method="POST">
    
    <input type="text" name="query3" placeholder="hashtag">
    <input type="submit" value="submit">

    </form>
     
  Query4  
    
    <form action="/query4" method="POST">
    
    <input type="text" name="query4" placeholder="author(mentions)">
    <input type="submit" value="submit">

    </form>
  
  Query5  
    
    <form action="/query5" method="POST">
    
    <input type="text" name="query5" placeholder="date">
    <input type="submit" value="submit">

    </form>
  
  Query6  
    
    <form action="/query6" method="POST">
    
    <input type="text" name="query6" placeholder="location">
    <input type="submit" value="submit">

    </form>

  Query7  
    
    <form action="/query6" method="POST">
    
    <input type="text" name="query7" placeholder="date">
    <input type="submit" value="submit">

    </form>

  

</p>
